<div class="story" [ngStyle]="{'transform': transformValue, 'z-index': zIndexValue}" *ngIf="!isMobile; else mobileStory">
    <ng-template [ngTemplateOutlet]="storyContent"></ng-template>
</div>

<ng-template #mobileStory>
    <div class="story-mobile" [ngStyle]="{'z-index': zIndexValue, 'transform': transformMobileValue}">
        <ng-template [ngTemplateOutlet]="storyContent"></ng-template>
    </div>
</ng-template>


<ng-template #storyContent>
    <ng-container *ngIf="isStoryActive; else replacer">
        <ng-container *ngFor="let video of stories; index as i">
            <story-video *ngIf="i === (activeStoryIndex$ | async)"
                         [contentUrl]="video.video.length > 0 ? video.video : video.image"
                         [isVideo]="video.video.length > 0"
                         [storiesCount]="stories.length"
                         [storyId]="video.id"
            ></story-video>
        </ng-container>
    </ng-container>

    <ng-template #replacer>
        <ng-container *ngIf="stories[0].video.length > 0; else imgReplace">
            <video class="story-video" muted="muted">
                <source [src]="stories[0].video + '#t=0.1'" type="video/mp4">
            </video>
        </ng-container>

        <ng-template #imgReplace>
            <img class="story-video" [src]="stories[0].image">
        </ng-template>
    </ng-template>


    <div class="story-track-wrapper" *ngIf="isStoryActive">
        <div class="story-track item-z-index" *ngFor="let video of stories; index as i"
             [style.width.%]="100 / stories.length">

            <div class="story-track-load" *ngIf="i !== (activeStoryIndex$ | async)"
                 [class.active-track-cancel]="(activeStoryIndex$ | async)! > i">
            </div>

            <div *ngIf="i === (activeStoryIndex$ | async)" class="story-track-load active-track-load" [style.width.%]="(trackWidth$ | async)">

            </div>
        </div>
    </div>


    <div class="author-info item-z-index">
        <div class="avatar">
            <img class="avatar-img" [src]="avatar">
        </div>

        <p class="author-name"><span>{{author}}</span></p>

<!--        <div class="views">-->
<!--            <svg width="24" height="16" viewBox="0 0 24 16" fill="none" xmlns="http://www.w3.org/2000/svg">-->
<!--                <path d="M23.8475 7.54225C23.6331 7.25464 18.5245 0.5 11.9999 0.5C5.4753 0.5 0.36647 7.25464 0.152297 7.54197C-0.0507658 7.81483 -0.0507658 8.1849 0.152297 8.45775C0.36647 8.74536 5.4753 15.5 11.9999 15.5C18.5245 15.5 23.6331 8.74531 23.8475 8.45798C24.0508 8.18517 24.0508 7.81483 23.8475 7.54225ZM11.9999 13.9483C7.19383 13.9483 3.03127 9.46509 1.79907 7.99947C3.02968 6.53256 7.18352 2.05172 11.9999 2.05172C16.8057 2.05172 20.968 6.53412 22.2007 8.00053C20.9701 9.46739 16.8163 13.9483 11.9999 13.9483Z"-->
<!--                      fill="white"/>-->
<!--                <path d="M11.9999 3.34484C9.38231 3.34484 7.25263 5.43321 7.25263 8.00004C7.25263 10.5669 9.38231 12.6552 11.9999 12.6552C14.6175 12.6552 16.7472 10.5669 16.7472 8.00004C16.7472 5.43321 14.6175 3.34484 11.9999 3.34484ZM11.9999 11.1035C10.2547 11.1035 8.83509 9.7113 8.83509 8.00004C8.83509 6.28877 10.2548 4.8966 11.9999 4.8966C13.745 4.8966 15.1647 6.28877 15.1647 8.00004C15.1647 9.7113 13.7451 11.1035 11.9999 11.1035Z"-->
<!--                      fill="white"/>-->
<!--            </svg>-->
<!--            <ng-container *ngIf="isStoryActive">-->
<!--                {{stories[(activeStoryIndex$ | async)!].views}}-->
<!--            </ng-container>-->
<!--        </div>-->
    </div>

</ng-template>
