<div class="relative overflow-hidden flex flex-column justify-content-center">
    <div class="bg-circle opacity-50" style="top: -200px; left: -700px;"></div>
    <div class="bg-circle hidden lg:flex" style="top: 50px; right:-800px; transform: rotate(60deg)"></div>



    <div class="landing-wrapper">
        <div class="m-0 md:ml-5 xl: px-0 py-3 text-900 font-medium line-height-3 cursor-pointer">
            <p-selectButton [options]="stateOptions" [(ngModel)]="value" optionLabel="label"
                            optionValue="value" (onChange)="langChange($event)"></p-selectButton>
        </div>
        <div
            class="flex align-items-center justify-content-between relative lg:static py-6 px-4 mx-0 md:px-7 lg:px-8 lg:py-6 lg:mx-8">
            <a class="cursor-pointer" (click)="router.navigate(['/landing'])">
                <app-logo></app-logo>

            </a>

            <a pRipple class="cursor-pointer block md:hidden text-700 text-primary" pStyleClass="@next"
               enterClass="ng-hidden" enterActiveClass="px-fadein" leaveToClass="ng-hidden"
               leaveActiveClass="px-fadeout" [hideOnOutsideClick]="true">
                <i class="pi pi-bars text-4xl"></i>
            </a>
            <ul #menu style="top:80px; right: 0%;"
                class=" align-items-center list-none  p-3 md:p-0  justify-content-end ng-hidden md:flex absolute md:static w-full md:w-6 md:px-0 z-3 shadow-2 md:shadow-none  surface-card md:surface-ground">
                <a pRipple class="cursor-pointer block md:hidden text-700 text-primary absolute z-5" style="top:1.5rem;
                right: 1.5rem;" pRipple pStyleClass="@parent"
                   enterClass="ng-hidden" enterActiveClass="px-fadein" leaveToClass="ng-hidden"
                   leaveActiveClass="px-fadeout">
                    <i class="pi pi-times text-3xl"></i>
                </a>

                <li class=" md:mt-0">
                    <a (click)="router.navigate([''], {fragment: 'home'})" pRipple pStyleClass="@grandparent"
                       enterClass="ng-hidden" enterActiveClass="px-fadein" leaveToClass="ng-hidden"
                       class="flex m-0 romd:ml-5 px-0 py-3 text-900 font-medium line-height-3 cursor-pointer">
                        <span>{{ 'Store' | transloco }} </span>
                    </a>
                </li>
                <li>
                    <a (click)="router.navigate([''], {fragment: 'vs'})" pRipple pStyleClass="@grandparent"
                       enterClass="ng-hidden" enterActiveClass="px-fadein" leaveToClass="ng-hidden"
                       class="flex m-0 md:ml-5 px-0 py-3 text-900 font-medium line-height-3 cursor-pointer">

                        <span>Victoria's Secret</span>
                    </a>
                </li>
                <li>
                    <a (click)="router.navigate([''], {fragment: 'bb'})" pRipple pStyleClass="@grandparent"
                       enterClass="ng-hidden" enterActiveClass="px-fadein" leaveToClass="ng-hidden"
                       class="flex m-0 md:ml-5 px-0 py-3 text-900 font-medium line-height-3 cursor-pointer">
                        <span>Bath & Body Works</span>
                    </a>
                </li>
                <li>



                    <!--                        <span>Stories</span>-->

                </li>


                <li class="flex align-items-center">
                    <!--                    <button pButton pRipple type="button" class="w-full mb-5 vs-button" (click)="folowInstagram()" >-->
                    <!--                        <i class="pi pi-instagram"></i>-->
                    <!--                        <span class="label" >Instagram</span>-->
                    <!--                    </button>-->

                    <button pButton pRipple type="button" pStyleClass="@grandparent" enterClass="ng-hidden"
                            enterActiveClass="px-fadein" leaveToClass="ng-hidden" label="{{'Connect' | transloco}}"
                            (click)="goToInstagram()"
                            icon="pi pi-instagram"
                            class="m-0 mt-3 md:mt-0 md:ml-5 white-space-nowrap p-button-outlined"></button>
                </li>
            </ul>

        </div>
        <div class="py-4 px-4 mx-0 md:mx-6 lg:mx-8 lg:px-8 z-2">
            <div id="home"
                 class="grid grid-nogutter justify-content-between align-items-center mb-6 py-6 md:mb-8 md:py-8">
                <div
                    class="col-12 md:col-4 flex flex-column gap-4 flex-order-1 md:flex-order-0 align-items-center md:align-items-start text-center md:text-left">
                    <span class="block text-900 font-bold text-4xl">{{ 'TitleMag' | transloco }} </span>
                    <span class="block text-700 text-lg">{{ 'DiscMag' | transloco }}
                    </span>
                    <span class="block text-700 font-bold text-lg">{{ 'Address' | transloco }} </span>
                    <span class="block text-700 font-bold text-lg"> {{ 'Delivery' | transloco }} </span>
                    <ul class="flex flex-wrap gap-5 list-none p-0">
                        <li class="flex align-items-center">
                            <div class="p-1 border-circle bg-pink-200 inline-block mr-2"></div>
                            <span class="text-900 font-semibold">Victoria'S Secret</span>
                        </li>
                        <li class="flex align-items-center">
                            <div class="p-1 border-circle bg-blue-400 inline-block mr-2"></div>
                            <span class="text-900 font-semibold">Bath & Body Works</span>
                        </li>
                    </ul>
                    <button pButton pRipple type="button" label="{{'Preview' | transloco}}" icon="pi pi-arrow-right"
                            iconPos="right"
                            class="w-12rem p-button-outlined vs-button"
                            (click)="openStories()"
                    ></button>

                </div>


                <div class="col-12 md:col-7 flex-order-0 md:flex-order-1 mb-6 md:mb-0 border-round">

                    <!--                    <p-galleria [value]="images" [responsiveOptions]="galleriaResponsiveOptions"-->
                    <!--                                [containerStyle]="{'max-width': '800px', 'margin':'auto'}" [numVisible]="6"-->
                    <!--                                [circular]="true"-->
                    <!--                                [showItemNavigators]="true"-->
                    <!--                    >-->
                    <!--                        <ng-template pTemplate="item" let-item>-->
                    <!--                            <p-image [src]="item.itemImageSrc"alt="Image" width="600"  [preview]="true"></p-image>-->
                    <!--&lt;!&ndash;                            <img [src]="item.itemImageSrc"  style="width: 35vw; height: auto;"/>&ndash;&gt;-->
                    <!--                        </ng-template>-->
                    <!--                        <ng-template pTemplate="thumbnail" let-item>-->
                    <!--                            <div class="grid nogutter justify-center">-->
                    <!--                                <img [src]="item.thumbnailImageSrc" style="display: block;"/>-->
                    <!--                            </div>-->
                    <!--                        </ng-template>-->
                    <!--                    </p-galleria>-->

                    <p-galleria [value]="images" [numVisible]="5" [circular]="true" [showItemNavigators]="true"
                                [showThumbnails]="false"
                                [responsiveOptions]="galleriaResponsiveOptions"
                                [containerStyle]="{ 'max-width': '640px' }">
                        <ng-template pTemplate="item" let-item>
                            <img [src]="item.itemImageSrc" style="width: 100%; display: block;"/>
                            <!--                            <p-image [src]="item.itemImageSrc" alt="Image" [preview]="true" [style]="{'width': '100%', 'max-width': '600px', 'display': 'block', 'height': 'auto'}"></p-image>-->
                        </ng-template>
                    </p-galleria>
                    <!--                    <img animateEnter="moveinright"-->
                    <!--                        src="assets/demo/images/landing/{{darkMode ? 'dashboard-dark' : 'dashboard-light'}}.png" alt=""-->
                    <!--                        class="w-full h-full border-round shadow-2 animation-duration-1000 animation-ease-out">-->
                </div>
            </div>

            <div class="grid justify-content-between my-6 pt-4 md:my-8">
                <div class="col-12 md:col-2 text-center md:text-left">
                    <a class="cursor-pointer" href="#">

                    </a>
                </div>

                <div class="col-12 md:col-10 lg:col-7">
                    <div class="grid text-center md:text-left">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-container *ngIf="stories && stories.data.length > 0">
    <story-view [storyIsOpen]="storyIsOpen" [stories]="stories.data"
                (closeStoryViewEmitter)="closeStory()"></story-view>
</ng-container>
