<div class="story-view" *ngIf="storyIsOpen" @storyViewOpenAnimation>

    <ng-container *ngIf="!isMobile; else mobileStories">
        <div class="buttons-container next-button" (click)="nextStory()">
            <svg width="14" height="24" viewBox="0 0 14 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M2 2L12 12L2 22" stroke="white" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
        </div>
        <div class="buttons-container prev-button" (click)="prevStory()" *ngIf="activeUserIndex > 0 || activeStoryIndex  > 0">
            <svg width="14" height="24" viewBox="0 0 14 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M12 22L2 12L12 2" stroke="white" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
        </div>
        <div class="close-button" (click)="closeStoryView()">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M2 22L12 12M22 2L12 12M12 12L2 2M12 12L22 22" stroke="white" stroke-width="3" stroke-linecap="round"/>
            </svg>
        </div>

        <div class="stories-block">
            <div class="video-volume">
                <div class="slide-container">
                    <i class="fas" style="font-size: 30px"
                       [class.fa-volume-mute]="volume === 0"
                       [class.fa-volume-off]="volume > 0 && volume <= 0.4"
                       [class.fa-volume-down]="volume > 0.4 && volume <= 0.8"
                       [class.fa-volume-up]="volume > 0.8"
                       (click)="toggleSound()"
                    >

                    </i>
                    <input type="range" min="0" max="1" step="0.1" class="volume-slider" [(ngModel)]="volume" (ngModelChange)="changeVolume(volume)">
                </div>
            </div>
            <ng-template [ngTemplateOutlet]="storyItems"></ng-template>
        </div>
    </ng-container>

    <ng-template #mobileStories>
        <div class="stories-block-mobile">
            <div class="close-button-mobile" (click)="closeStoryView()">
                <svg width="16" height="16" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M2 22L12 12M22 2L12 12M12 12L2 2M12 12L22 22" stroke="white" stroke-width="3" stroke-linecap="round"/>
                </svg>
            </div>
            <div class="nav-overlay"
                 #mobileNavigation
                 (click)="mobileStoryNavigation($event, mobileNavigation.offsetWidth)"
                 (swiperight)="swipeRight()"
                 (swipeleft)="swipeLeft()"
            ></div>
            <ng-template [ngTemplateOutlet]="storyItems"></ng-template>
        </div>
    </ng-template>
</div>

<ng-template #storyItems>
    <story-item
        *ngFor="let story of stories; index as i"
        [stories]="story.stories"
        [author]="story.name + ' ' + story.surname"
        [userIndex]="i"
        [avatar]="story.thumbnail"
    ></story-item>
</ng-template>
